@model List<Order>
@{
    ViewData["Title"] = "All orders";
}

<div class="d-flex justify-content-center min-vh-100">
    <div class="col-md-12 offset-md-2 rounded">
        <h1 class="text-center mb-3">All orders</h1>
        <table class="table align-middle mb-0 bg-white p-3 rounded border-bottom  shadow-1">
            
                <thead class="bg-light shadow-2 px-5">
                    <tr>
                        <th>Order</th>
                        <th>Items</th>
                        <th>Total</th>
                        @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <th>User</th>
                        }
                    </tr>
                </thead>
                <tbody >
                    @foreach (var order in Model)
                    {
                        <tr class="shadow-1 rounded px-2">
                            <td>
                               @order.Id
                            </td>
                            <td >
                                <ul style="list-style-type:none;">
                                @foreach(var item in order.OrderItems)
                                {
                                    <li class="mb-1">
                                        <div class="alert alert-info" role="alert">
                                            <span class="badge bg-success">@item.Amount</span> [@item.Price.ToString("c")] - @item.Movie.Name

                                        </div>
                                    </li>
                                    
                                }
                                </ul>
                            </td>
                            <td >
                           @order.OrderItems.Select(m=> m.Movie.Price*m.Amount).Sum().ToString("c")
                            </td>

                            @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <td>
                                <a asp-action="EditUsers" asp-controller="Account" asp-route-id="@order.User.Id" title="edit">@order.User.FullName</a>
                                    
                                </td>
                             }
                        </tr>
                    }
               
                </tbody>


        </table>

        

    </div>
</div>